@charset "UTF-8";
.top-wrap {
  background-size: cover;
  width: 100%;
  aspect-ratio: 4.47 / 1;
  margin-top: 80px;
  position: relative;
}
.breadcrumb {
  padding: 1.94% 2.08%;
}
.breadcrumb-wrap__nav__list {
  display: flex;
  flex-wrap: wrap;
}
.breadcrumb-wrap__nav__list__item:nth-of-type(1)::after {
  content: "＞";
  margin: 0 16px;
  color: #2F3436;
}
.breadcrumb-wrap__nav__list__item a {
  color: #2F3436;
  text-decoration: none;
  letter-spacing: 0;
}
.breadcrumb-wrap__nav__list__item:nth-last-of-type(1) a {
  color: #0067C0;
}
@media screen and (max-width: 768px) {
  .top-wrap {
    aspect-ratio: 3.2 / 1;
    margin-top: 80px;
  }
}
@media screen and (max-width: 480px) {
  .top-wrap {
    margin-top: 70px;
  }
}