@charset "UTF-8";
.top-wrap {
  background-image: url(../img/company.png);
}
.company-wrap__con {
  display: flex;
  align-items: center;
  margin-bottom: 7.37%;
}
.company-wrap__con__image {
  width: 50%;
}
.company-wrap__con__txt {
  width: 50%;
  padding-left: 2.11%;
}
.s-ttl {
  font-size: clamp(1.2rem, 1.086rem + 0.57vw, 1.6rem);
  letter-spacing: 0.2rem;
  background: linear-gradient(180deg, #3B8C42 0%, #26592A 50%, #1A3C1D 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
  margin: 0 8.8% 7.2%;
  padding: 0 2.2%;
  display: inline-block;
}
.s-ttl::before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #3B8C42;
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translate(-50%,-50%);
}
.s-ttl::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #3B8C42;
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translate(50%,-50%);
}
.company-wrap__con__txt__main {
  margin-bottom: 7.27%;
}
.company-wrap__con__txt__name {
  text-align: right;
}
.company-wrap__s-ttl {
  text-align: center;
}
.company-wrap__block {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.company-wrap__block__mission,
.company-wrap__block__vision {
  width: 48%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.company-wrap__block__mission__ttl {
  color: #fff;
  position: absolute;
  top: 4.35%;
  left: 2.17%;
  font-size: clamp(1.1rem, 0.642rem + 0.95vw, 1.5rem);
}
.company-wrap__block__vision__ttl {
  color: #3B8C42;
  position: absolute;
  top: 4.35%;
  left: 2.17%;
  font-size: clamp(1.1rem, 0.642rem + 0.95vw, 1.5rem);
}
.company-wrap__block__mission__list {
  padding: 2.2% 2.2% 2.2% 30px;
  background-color: #0067C0;
  height: 100%;
}
.company-wrap__block__vision__list {
padding: 2.2% 2.2% 2.2% 30px;
background-color: #3B8C42;
height: 100%;
}

.company-wrap__block__mission__list__item,
.company-wrap__block__vision__list__item{
  list-style: disc;
  padding: 1% 0;
}
.company-wrap__info {
  display: flex;
  align-items: center;
  height: 86px;
  border-bottom: 1px solid #2F3436;
}
.company-wrap__info__ttl {
  font-size: clamp(1.1rem, 1.057rem + 0.21vw, 1.25rem);
  width: 152px;
  margin-right: 3.5%;
  flex-shrink: 0;
}
.company-wrap__info__txt {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .company-wrap__con {
    flex-direction: column;
  }
  .company-wrap__con__image {
    width: 100%;
    margin-bottom: 5.36%;
  }
  .company-wrap__con__txt {
    width: 100%;
    padding-left: 0;
  }
  .s-ttl::before,
  .s-ttl::after {
    width: 30px;
  }

  .company-wrap__block {
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }
  .company-wrap__block__mission {
    width: 100%;
  }
  .company-wrap__block__vision {
    width: 100%;
  }
  .company-wrap__block__mission__list,
  .company-wrap__block__vision__list {
    height: auto;
  }
  .company-wrap__info {
    flex-wrap: wrap;
    height: 100px;
  }
  .company-wrap__block__mission__ttl,
  .company-wrap__block__vision__ttl {
    top: 2%;
    font-size: clamp(1.1rem, 0.814rem + 1.43vw, 1.5rem);
  }
}
@media screen and (max-width: 480px) {
  .company-wrap__con__txt {
    text-align: center;
  }
  .company-wrap__con__txt__main {
    text-align: left;
  }
}
