@charset "UTF-8";
.top-wrap {
  background-image: url(../img/service.png);
  background-position: right;
}
.service-wrap.__service1,
.service-wrap.__service3 {
  display: flex;
  align-items: stretch;
  background: rgba(59, 140, 66, 0.2);
}
.service-wrap.__service2 {
  display: flex;
  align-items: stretch;
  background: rgba(0, 103, 192, 0.2);
  margin: 3.16% 0;;
}
.service-wrap .service-wrap__image {
  width: 32%;
  aspect-ratio: 5 / 6;
  background-position: center;
  background-size: cover;
  padding: 3.16% 1.05%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5%;
}
.service-wrap.__service1 .service-wrap__image {
  background-image: url(../img/service-1-top-img.png);
}
.service-wrap.__service2 .service-wrap__image {
  background-image: url(../img/service-2-top-img.png);
}
.service-wrap.__service3 .service-wrap__image {
  background-image: url(../img/service-3-top-img.png);
}

.service-wrap__image__con {
  display: flex;
  width: 93.4%;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 7.1% 1%;
  background: rgba(255, 255, 255, 0.9);
}
.service-wrap__image__con__ttl {
  font-size: clamp(1.1rem, 0.642rem + 0.95vw, 1.5rem);
  letter-spacing: 0;
  text-align: center;
}
.service-wrap__image__con__txt {
  text-align: center;
  font-size: clamp(0.9rem, 0.785rem + 0.24vw, 1rem);
}
.service-wrap__image__con__icon {
  width: 25%;
}

.service-wrap__con {
  width: 68%;
  padding: 3% 1.5%;
}
.service-wrap__con__item{
  display: flex;
  align-items: center;
  height: 25%;
  border-bottom: 1px dashed #2F3436;
  padding: 1% 0;
}
.service-wrap__con__item__ttl {
  width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.service-wrap__con__item__ttl span {
  margin: 0 3.5%;
}
.service-wrap__image__sp {
  display: none;
}

@media screen and (max-width: 1024px) {
.service-wrap__con__item__ttl {
  width: 200px;
}
}
@media screen and (max-width: 768px) {
.service-wrap.__service1,
.service-wrap.__service3 {
  flex-direction: column;
  background: none;
}
.service-wrap .service-wrap__image {
  width: 100%;
  aspect-ratio: 2 / 1.5;
}
.service-wrap.__service2 {
  flex-direction: column;
  background: none;
  margin: 35px 0;
}
.service-wrap__con {
  width: 100%;
  background: rgba(59, 140, 66, 0.2);
}
.service-wrap__con.__service2 {
  background: rgba(0, 103, 192, 0.2);
}
.service-wrap__image__con__ttl {
  font-size: clamp(1.2rem, 0.629rem + 2.86vw, 2rem);
}
.service-wrap__image__con__txt {
  font-size: clamp(0.9rem, 0.829rem + 0.36vw, 1rem);
}
}
@media screen and (max-width: 480px) {
.service-wrap__con__item {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.service-wrap__con__item__ttl {
  margin-bottom: 5px;
}
.service-wrap .service-wrap__image {
  aspect-ratio: 1 / 1;
}
}